body, html {
height: 100%;
width: 100%;
padding: 0;
margin: 0;
overflow: hidden;
}

.container {
    width: 90%;
    height: 80%;
    background: #f1f1f1;
    position: relative;
    -webkit-perspective: 400px;
    margin: 0 auto;
}

.mywallet {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid #a1a1a1;
    padding: 5px;
    width: 500px;
}

.hidden {
    display: none;
}

.transactcontainer {
    position: absolute;
    top: 110px;
    left: 10px;
    border: 1px solid #a1a1a1;
    padding: 5px;
    width: 500px;
}

.status {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid #a1a1a1;
    padding: 5px;
    width: 500px;
}